node_modules/
build/
dist/
coverage/
.playwright-cli/
.vscode/
output/
.clean/
.DS_Store
*.log
.codex
*.bak
.env*
!.env.example
*:Zone.Identifier
ChatGPT Image *.png
FGDFGTEt.psd
ufgfnnamed.jpg
un1named.jpg
un1named.psd
unnramed.jpg
